body {
  background: transparent;
}

main {
  flex: 1;
  padding: 32px 0 64px;
  position: relative;
}

#root {
  max-width: 1160px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 18px;
  display: flex;
  flex-direction: column;
}


